@use '../../styles/vars';

.game-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid var(--letter-border-color);
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding-inline: 1rem;
    justify-content: space-between;
  }

  &__title {
    color: var(--font-color-primary);
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__word-rows-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0 1rem;
  }
}
