@use '../../styles/vars';

.button {
  color: var(--font-color-primary);
  text-decoration: none;
  border: 1px solid var(--letter-border-color);
  padding: 0.6rem 1rem;
  border-radius: 10px;
  transition-duration: 0.2s;
  background-color: transparent;
  outline: none;

  &--disabled {
    cursor: default;
  }

  @media (hover: hover) {
    &:hover:not(.button--disabled) {
      background-color: var(--button-hover-background-color);
    }
  }
}
