@use '../../styles/vars';
@use '../../styles/breakpoints' as *;

.keyboard-button {
  color: var(--font-color-primary);
  background-color: var(--page-background-color);
  border: 1px solid var(--letter-border-color);
  padding: 0.4rem 0.9rem;
  border-radius: 10px;
  font-size: 1.1rem;
  min-width: 0;
  text-align: center;
  transition-duration: 0.2s;

  @include respond-to('lg') {
    font-size: 1.1rem;
  }
  @include respond-to('sm') {
    padding: 0.5rem 0.7rem;
  }

  &--incorrect {
    background-color: var(--letter-border-color);
    animation: show 0.2s forwards;
  }

  &--present {
    background-color: var(--present-letter-color);
    animation: show 0.2s forwards;
  }

  &--correct {
    background-color: var(--correct-letter-color);
    animation: show 0.2s forwards;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateY(-3px);
    }
  }
  &:active {
    transform: translateY(1px);
  }
}

@keyframes show {
  from {
    scale: 1.1;
  }
  to {
    scale: 1;
  }
}
