@use "../../styles/vars";

.word-row {
  display: flex;
  gap: 0.3rem;
  justify-content: center;


  &__letter-input {
    height: 3.6rem;
    width: 3.6rem;
    min-width: 0;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: var(--letter-border-color) 1px solid;
    border-radius: 10px;
    color: var(--font-color-primary);
    font-size: 2rem;

    &--correct {
      background-color: var(--correct-letter-color);
      animation: show 0.2s forwards;
    }
  }
  &--focus {
    cursor: text;
    input {
      background-color: var(--focus-row-background-color);
    }
  }
}

@keyframes show {
  from {
    scale: 1.1;
  }
  to {
    scale: 1.0;
  }
}