@use '../../styles/vars';
@use '../../styles/breakpoints' as *;

.word-row {
  display: flex;
  gap: 0.3rem;
  justify-content: center;

  &--focus {
    cursor: text;
    input {
      background-color: var(--focus-row-background-color);
    }
  }

  &__letter-input {
    height: 3.3rem;
    width: 3.3rem;
    min-width: 0;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: var(--letter-border-color) 1px solid;
    border-radius: 10px;
    color: var(--font-color-primary);
    font-size: 1.8rem;
  }

  & &__letter-input--correct {
    // Дважды повторяем .word-row для специфичность 0, 2, 0
    background-color: var(--correct-letter-color);
    animation: show 0.2s forwards;
  }

  & &__letter-input--present {
    // Дважды повторяем .word-row для специфичность 0, 2, 0
    background-color: var(--present-letter-color);
    animation: show 0.2s forwards;
  }

  & &__letter-input--incorrect {
    // Дважды повторяем .word-row для специфичность 0, 2, 0
    background-color: var(--letter-border-color);
    animation: show 0.2s forwards;
  }

  @include respond-to('sm') {
  }
}

@keyframes show {
  from {
    scale: 1.1;
  }
  to {
    scale: 1;
  }
}
