@use '../../styles/vars';
@use '../../styles/breakpoints' as *;

.word-row {
  margin-inline: auto;
  pointer-events: none;
  position: relative;

  &--focus {
    pointer-events: auto;

    .word-row__letter {
      background-color: var(--focus-row-background-color);
    }
  }

  &__letters-container {
    display: flex;
    gap: 0.3rem;
  }

  &__letter {
    color: var(--font-color-primary);
    font-size: 1.8rem;
    height: 3.3rem;
    width: 3.3rem;
    border: solid 1px var(--letter-border-color);
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    min-width: 0;
  }

  // Дважды повторяем .word-row для специфичности 0 2 0
  & &__letter--correct {
    background-color: var(--correct-letter-color);
    animation: show 0.2s forwards;
  }

  // Дважды повторяем .word-row для специфичности 0 2 0
  & &__letter--incorrect {
    background-color: var(--incorrect-letter-color);
    animation: show 0.2s forwards;
  }

  // Дважды повторяем .word-row для специфичности 0 2 0
  & &__letter--present {
    background-color: var(--present-letter-color);
    animation: show 0.2s forwards;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    opacity: 0;
    height: 0;
    width: 0;
  }
}

@keyframes show {
  from {
    scale: 1.1;
  }
  to {
    scale: 1;
  }
}
