@use "../../styles/vars";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: 0.1s;

  &__content {
    padding: 2rem 3rem;
    background-color: var(--page-background-color);
    border-radius: 10px;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}