:root {
  --page-background-color: #0e1321;
  --letter-border-color: #404c70;
  --font-color-primary: #FFF;
  --correct-letter-color: #40bd21;
  --present-letter-color: #c59b09;
  --focus-row-background-color: #181f34;
  --button-hover-background-color: #3a4669;
}