@use '../../styles/vars';

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  gap: 0.3rem;

  &__buttons-row {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    width: 100%;
  }
}
