@use '../../styles/vars';

.enter-word-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__label {
    color: var(--font-color-primary);
    margin-bottom: -5px;
  }

  &__input {
    text-align: center;
    background-color: var(--page-background-color);
    color: var(--font-color-primary);
    border: 1px solid var(--letter-border-color);
    width: 7rem;
    height: 2.5rem;
    border-radius: 10px;
  }

  &__buttons-container {
    display: flex;
    gap: 1rem;
  }
}
