@use "../../styles/vars";

.home-page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

  &__title {
    color: var(--font-color-primary);
    font-size: 4rem;
    align-self: end;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__contact-image {
    height: 50px;
  }

  &__contact {
    justify-self: center;
    align-self: end;
    margin-bottom: 3rem;
  }
}